@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@500&display=swap');

body{
    background-color: black;
    color: white;
}

h1,p{
    font-family: cinzle + decorative;
}

h1{
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
}

figure img{
    display: block;
    margin: auto;
}

article > p{
    width: 80%;
    margin: auto;
}

#sun{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

@media (min-width:950px){
    body{
        font-size: 15px;
    }

    #container{
        width: 80%;
        display: flex;
        /* flex-direction: column; */
        margin: auto;
    }
}